body{
    background-color: #ffffff;
}

.sidebar-nav-fixed{
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    height : 100%;
    position:fixed;
    width:30%;
}
@media (max-width: 769px){
    .sidebar-nav-fixed{
        position:static;
        height:100%;
        width:auto;
    }
}
@media (max-width: 979px){
    .sidebar-nav-fixed{
        height: 100%;
        /*position:static;*/
        width: auto;
    }
}

.left_container{
    background-color: #ffffff;
}

.top_partition{
    height: 300px;
    background-image:url('../images/style.jpg');
}

.me{
    margin-top: -50px;
}

.right_container{
    background-color: #ffffff;
    margin-top: 50px;
}

.footer{
    background-color: #ffffff;
    border-top: 1px solid #000000;
    margin-top: 30px;
    margin-left: -3%;
    color: #000000;
}
.footer a{
    color: #333333;
}
