body{
    background-color: #ffffff;
}

.sidebar-nav-fixed{
    border-right: 1px solid #666666;
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    height : 100%;
    position:fixed;
    width:30%;
}
@media (max-width: 769px){
    .sidebar-nav-fixed{
        position:static;
        height:100%;
        width:auto;
    }
}
@media (max-width: 980px){
    .sidebar-nav-fixed{
        height: 100%;
        position:static;
        width: auto;
    }
}
@media (max-height : 600px){
    .sidebar-nav-fixed{
        position:static;
        height: 100%;
        width:auto;
}
}

.left_container{
    background-color: #ffffff;
}

.top_partition{
    height: 350px;
    background-image:url('../images/amity.jpg');
}
.me{
    margin-top: -50px;
}

.name{
    font-family: Ubuntu Condensed;
}

h2{
    /*font-family: Segoe UI;*/
    font-family: 'Noto Serif', serif;
    text-shadow: 1px 1px 1px #aaa;
}

p{
    font-family: Segoe UI Light;
    font-size: 16px;
}

.right_container{
    background-color: #ffffff;
    margin-top: 50px;
}

.footer{
    background-color: #ffffff;
    border-top: 1px solid #666666;
    margin-top: 30px;
    margin-left: -3%;
    color: #000000;
}

.footer a{
    color: #333333;
}

.footer p{
    font-size: 11px;
}
