body{
    background-color: #e0e0e0;
}

.left_container{
    background-color: #ffffff;
    height:100%;
}

.top_partition{
    height: 300px;
    background-image:url('../images/style.jpg');
}

.me{
    margin-top: -50px;
}

.right_container{
    background-color: #e0e0e0;
}

.footer{
    background-color: #757575;
    margin: 20px 0px 0px 0px;
    color: #ffffff;
}
.footer a{
    color: #d6d6d6;
}
