body{
    background-color: #ffffff;
}

.sidebar-nav-fixed{
    position:fixed;
    width:30%;
}
@media (max-width: 769px){
    .sidebar-nav-fixed{
        width:auto;
    }
}
@media (max-width: 979px){
    .sidebar-nav-fixed{
        position:static;
        width: auto;
    }
}

.left_container{
    background-color: #ffffff;
    height:700px !important;
}

.top_partition{
    height: 300px;
    background-image:url('../images/style.jpg');
}

.me{
    margin-top: -50px;
}

.right_container{
    background-color: #ffffff;
}

.footer{
    background-color: #757575;
    margin: 20px 0px 0px 0px;
    color: #ffffff;
}
.footer a{
    color: #d6d6d6;
}
