@charset "utf-8";
/* reset marginesów oraz dopełnień */
html, body, ul, li { margin: 0; padding: 6px; line-height: 1.6em;}
br {line-height:8px; margin:0px;}

/* reset wysokości linii i fontu */
h1, h2, ul, li, p { margin: 0; padding: 0; }
/* ustawienia globalne */
html, body {font-family:'Lato', Helvetica, tahoma, arial, sans-serif; font-size: 0.625em/1.5em; }
a {color:#1c769a; text-decoration:none; font-size:1.1em;}
a:hover {text-decoration:underline;}

/* TYTUŁ */
h1 {
	font-size:1.3em;
	font-weight: normal;
	text-align:center;
	color:#414141;
	margin-bottom:0px; padding:0px;
}
h3 {
	font-size:0.8em;
	font-weight: normal;
	text-align:center;
	color:#8f8f8f;
	margin-top:3px; padding-top:0px;
	margin-bottom:25px;
}
h3 a { 
	color:#747474;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "GTWalsheim", sans-serif;
    font-weight: bold;
    line-height: 1.25;
}
/* CONTENT */ 
.content {
	position:relative; 
	width:100%;   
	margin:0 auto; 
}
.content p {
	margin-bottom: 10px;
	font-size:14px;
	line-height: 20px;
	color: #454545;
}

.center {
    text-align: center;
}

.member-info {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: "GTWalsheim", sans-serif;
    line-height: 1.5;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    border: 0;
    padding: 0;
}

.h1-responsive {
    font-size: 4vw;
}
.letter-spacing-reset {
    letter-spacing: 0;
}
.caps {
    text-transform: uppercase;
    letter-spacing: .15em;
}
.inline-block {
    display: inline-block;
}
.relative {
    position: relative;
}
.z1 {
    z-index: 1;
}
.bold {
    font-weight: bold;
}
.h5 {
    font-size: 0.875rem;
}
.black {
    color: #111;
}
.sm_p2 {
    padding: 1rem;
}
.sm_px0 {
    padding: 0rem;
}
.sm_py2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.mb1 {
    margin-bottom: 0.5rem;
}
.mb2 {
    margin-bottom: 1rem;
}
.mt1 {
    margin-top: 0.5rem;
}
.mt2 {
    margin-top: 1rem;
}
.w-100 {
    max-width: 100px;
    width: 90%;
}
hr {
    border: 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,0.125);
}
.avatar {
    width: 90px;
    height: 90px;
    display: inline-block;
    text-decoration: none;
    border-radius: 100%;
}
.avatar img {
    border-radius: 100%;
    max-width: 100%;
}
.hover-lift {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0.06, 0.12, 0.98);
    -moz-transition: all 500ms cubic-bezier(0.77, 0.06, 0.12, 0.98);
    transition: all 500ms cubic-bezier(0.77, 0.06, 0.12, 0.98);
}

.nav ul{list-style:none;padding:0;margin:0;text-align:center}
.nav ul li{display:inline-block;font-size:20px; cursor: arrow;}
.nav ul li:after{content:" /"; cursor: arrow;}
.nav ul li:last-child:after{content:""}
.nav ul li a {
    text-decoration: none;
    color:#414141;
    /* color: #c1c715; */
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease;}
.nav ul li a:active,
.nav ul li a:focus,
.nav ul li a:hover {border-bottom: 1px solid;outline: none;}

[data-tooltip],
.tooltip {
    position: relative;
    cursor: pointer;
    text-align: center;
}
/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
    position: absolute;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out,
            -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out,
            -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
            opacity 0.2s ease-in-out,
            visibility 0.2s ease-in-out,
            transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform:    translate3d(0, 0, 0);
    transform:         translate3d(0, 0, 0);
    pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
    z-index: 1001;
    border: 6px solid transparent;
    background: transparent;
    content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
    z-index: 1000;
    padding: 8px;
    width: 160px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-title);
    text-align: center;
    font-size: 11px;
    line-height: 1.2;
}

[data-tooltip]:after, .tooltip:after, .tooltip-top:after {
    margin-left: -80px;
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
    top: 100%;
    bottom: auto;
    left: 50%;
}

.tooltip-bottom:before {
    margin-top: -12px;
    margin-bottom: 0;
    border-top-color: transparent;
    border-bottom-color: #000;
    border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
    -webkit-transform: translateY(12px);
    -moz-transform:    translateY(12px);
    transform:         translateY(12px);
}
